@model MyApp.Models.Item
@{
	ViewData["Title"] = "Delete";
}

<h3>Delete this??</h3>

<p>@Model.Name</p>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-danger">Delete</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>
